@media only screen and (max-width: 1200px) {
  .contentTwoBigBoxFlexBoxTextBoxOne {
    padding-right: 10%;
  }

  .contentTwoBigBoxFlexBoxImgBox {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .cursorOne {
    display: none;
  }

  .backgroundGuyn {
    display: none;
  }

  .navigationBoxUl {
    justify-content: flex-end;
  }

  .contentOneBoxerChangeBox {
    display: none;
  }

  .contentOneBoxer {
    align-items: center;
    justify-content: center;
  }

  .contentOneMiniBox {
    margin-left: 0;
    padding: 0 40px;
    font-size: 0.9em;
  }

  .contentOneJoinUsBox {
    left: 30%;
  }

  .contentOneIcon,
  .contentTwoBigBoxFlexBoxImgBox {
    display: none;
  }

  .contentTwoBigBoxFlexBoxTextBox {
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }

  .contentTwoBigBoxFlexBoxTextBoxOne {
    padding: 0;
    flex-direction: column;
  }

  .contentTwoBigBoxFlexBoxTextBoxOneLogoBox {
    width: 100%;
  }

  .contentTwoBigBoxFlexBoxTextBoxOne {
    padding-right: 0;
  }
}

@media only screen and (max-width: 425px) {
  .contentOneJoinUsBox,
  .contentOneJoinUsBoxTwo,
  .contentThreeMiniBox {
    flex-direction: column;
    left: 20%;
    bottom: 5px;
  }

  .headerMenuMediaBox {
    width: 100%;
  }

  .contentOneImg,
  .contentTwoImgBox {
    background-attachment: local;
  }

  .contentTwo {
    padding-bottom: 50px;
  }

  .contentOneJoinUsBoxBtt::before {
    transition: 0;
  }

  .contentOneJoinUsBoxBtt:hover::before {
    width: 60px;
    height: 60px;
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .backgroundGuyn {
    display: none;
  }

  .navigationBoxUl {
    justify-content: flex-end;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  header {
    width: 87%;
  }
}
