* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

/* scrollBar */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(99, 167, 194);
}

/* End scrollBar */

/* Loading */

.loading {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999999;
}

.loadingBox {
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.loadingMiniBox {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  animation-name: animOne;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

@keyframes animOne {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.6);
  }
}

/* Loading End */

/* Content One */

.contentOne {
  width: 100%;
  height: 100vh;
}

.webSayt {
  /* height: 4000px; */
}

.contentOneImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/imgOne.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.9;
  visibility: inherit;
  background-attachment: fixed;
  z-index: -1;
}

.contentOneBoxer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentOneBoxerTxtBox {
  padding: 5px;
  margin-left: 150px;
  margin-top: -50px;
  animation-name: animTxt;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-fill-mode: 1;
}

@keyframes animTxt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contentOneBoxerTxtBoxTitle {
  font-size: 2.8em;
  font-weight: bold;
  color: white;
}

.contentOneBoxerTxtBoxTxt {
  margin-top: 7px;
  color: white;
  font-weight: bold;
}

.contentOneBoxerChangeBox {
  width: 50px;
  height: 220px;
  margin-right: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentOneBoxerChangeBox > div {
  margin-top: 15px;
  cursor: pointer;
}

.contentOneBoxerChangeBoxLine {
  width: 2px;
  height: 120px;
  background-color: white;
  transform: scale(0);
  animation: animLine 0.7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.contentOneBoxerChangeBoxBefore::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #24c1dd;
  position: absolute;
  height: 3px;
  width: 15px;
  margin-top: 6px;
  right: 15px;
  animation: animLine 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animLine {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.contentOneJoinUsBox {
  width: 200px;
  position: absolute;
  bottom: 70px;
  left: 57%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  animation: animJoinUs 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animJoinUs {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.contentOneJoinUsBoxBtt {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.contentOneJoinUsBoxBtt::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 5px solid white;
  margin: 5px;
  transition: 0.5s;
}

.contentOneJoinUsBoxBtt:hover::before {
  width: 70px;
  height: 70px;
  opacity: 0;
  margin: 0;
}

.contentOneJoinUsBoxTxt {
  font-size: 1.7em;
  color: white;
}

.contentOneIcon {
  width: 60px;
  height: 60px;
  /* background-color: red; */
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.contentOneIcon > div {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.contentOneBoxerTxtBoxTwo {
  padding: 5px;
  margin-left: 33%;
  margin-top: -70px;
  animation-name: animTxt;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-fill-mode: 1;
}

@keyframes animTxt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contentOneBoxerTxtBoxTitleTwo {
  font-size: 2.8em;
  font-weight: bold;
  color: white;
  padding-left: 110px;
}

.contentOneBoxerTxtBoxTxtTwo {
  margin-top: 7px;
  color: white;
  font-weight: bold;
}

.contentOneJoinUsBoxTwo {
  width: 200px;
  position: absolute;
  bottom: 30%;
  left: 45%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  animation: animJoinUsTwo 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animJoinUsTwo {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.contentOneJoinUsBoxBttTwo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.contentOneJoinUsBoxBttTwo::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 5px solid white;
  margin: 5px;
  transition: 0.5s;
}

.contentOneJoinUsBoxBttTwo:hover::before {
  width: 70px;
  height: 70px;
  opacity: 0;
  margin: 0;
}

.contentOneJoinUsBoxTxtTwo {
  font-size: 1.7em;
  color: white;
}

.contentOneImgTwo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/imgTwo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.9;
  visibility: inherit;
  background-attachment: fixed;
  z-index: -1;
}

.contentOneBoxerTxtBoxThree {
  padding: 5px;
  margin-left: 10%;
  margin-top: 120px;
  animation-name: animTxt;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-fill-mode: 1;
}

@keyframes animTxt {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contentOneBoxerTxtBoxTitleThree {
  font-size: 2.8em;
  font-weight: bold;
  color: white;
  padding-left: 110px;
}

.contentOneBoxerTxtBoxTxtThree {
  margin-top: 7px;
  color: white;
  font-weight: bold;
}

.contentOneJoinUsBoxThree {
  width: 200px;
  position: absolute;
  bottom: 45%;
  left: 10%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  animation: animJoinUsThree 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animJoinUsThree {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.contentOneJoinUsBoxBttThree {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
  cursor: pointer;
}

.contentOneJoinUsBoxBttThree::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 5px solid white;
  margin: 5px;
  transition: 0.5s;
}

.contentOneJoinUsBoxBttThree:hover::before {
  width: 70px;
  height: 70px;
  opacity: 0;
  margin: 0;
}

.contentOneJoinUsBoxTxtThree {
  font-size: 1.7em;
  color: white;
}

.contentOneImgThree {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/imgThree.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.9;
  visibility: inherit;
  background-attachment: fixed;
  z-index: -1;
}

.contentOneMiniBox {
  display: block;
}

.contentTwoMiniBox {
  display: none;
}

.contentThreeMiniBox {
  display: none;
}

/* End Content One*/

/* Header */

header {
  width: 80%;
  height: 80px;
  background-color: black;
  position: absolute;
  top: 35px;
  left: 10%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logoBox {
  width: 100px;
  height: 70px;
  /* background-color: red; */
}

.logoBox img {
  width: 100%;
  transform: translateY(-15px);
}

.navigationBox {
  width: 73%;
  height: 100%;
}

.navigationBoxUl {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navigationBoxUl li {
  padding: 15px;
  color: white;
}

.navigationBoxUlList {
  cursor: pointer;
}

.navigationBoxUlBurg svg {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  color: wheat;
  background-color: #24c1dd;
  cursor: pointer;
}

.toggleClassHeader {
  position: fixed;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  backdrop-filter: blur(10px);
  animation: slideDown 0.5s ease-out;
  z-index: 9999;
  top: 0;
  width: 100%;
  left: 0;
  border-radius: 0;
  padding: 0 7%;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0.3;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.headerMenuMediaBox {
  width: 380px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #24c1dd;
  z-index: 12000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 20px;
  transform: translateX(100%);
}

.headerMenuMediaBoxMiniOne {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.headerMenuMediaBoxMiniTwo {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 40px 0;
}

.headerMenuMediaBoxMiniOneClose {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  color: rgb(236, 236, 236);
  font-size: 2em;
}

.headerMenuMediaBoxMiniOneList {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.headerMenuMediaBoxMiniOneList ul li {
  list-style: none;
  margin-top: 10px;
  color: rgb(223, 223, 223);
  font-size: 1.4em;
  padding: 5px;
  cursor: pointer;
}

.headerMenuMediaBoxMiniTwoIcon {
  width: 100%;
  color: white;
  font-size: 1.7em;
  font-weight: bold;
  padding-left: 20px;
}

.headerMenuMediaBoxMiniTwoC {
  width: 100%;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 30px;
}

.headerMenuMediaBoxToggle {
  display: flex;
  animation: slideRight 0.5s ease-out;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
    /* opacity: .3; */
  }
  to {
    transform: translateX(0);
    /* opacity: 1; */
  }
}

.headerMenuMediaBoxOgnox {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
  cursor: pointer;
  z-index: 11000;
  display: none;
}

/* Header End */

/* Cursor */

.cursorOne {
  position: fixed;
  left: 0;
  top: 0;
  border: 2px solid #f5f5f5;
  width: 30px;
  height: 30px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  transition: 0.1s;
  z-index: 15000;
}

/* Cursor End */

/* Content Two */

.contentTwo {
  width: 100%;
  padding: 70px 5px;
}

.contentTwoImgBox {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 500px;
  z-index: -1;
  filter: grayscale(1);
  opacity: 0.8;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(img/imgContentTwo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  visibility: inherit;
  background-attachment: fixed;
  filter: brightness(100%);
}

.contentTwoBigBox {
  width: 100%;
  z-index: 1;
}

.contentTwoBigBoxTextBigBoxTxtOne {
  text-align: center;
  color: #24c1dd;
  font-weight: bold;
  font-size: 1.8em;
}

.contentTwoBigBoxTextBigBoxTitle {
  text-align: center;
  color: white;
  font-size: 2.5em;
  margin-top: 20px;
}

.contentTwoBigBoxTextBigBoxTxtTwo {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.contentTwoBigBoxFlexBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 5px;
}

.contentTwoBigBoxFlexBoxImgBox {
  width: 47%;
  padding: 3px;
  animation-name: animImgTwo;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: none;
}

@keyframes animImgTwo {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}

.contentTwoBigBoxFlexBoxImgBox img {
  width: 100%;
}

.contentTwoBigBoxFlexBoxTextBox {
  width: 50%;
  animation-name: animTxtTwo;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: none;
}

@keyframes animTxtTwo {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0);
  }
}

.contentTwoBigBoxFlexBoxTextBoxOne {
  display: flex;
  padding-bottom: 20px;
  padding-right: 30%;
}

.contentTwoBigBoxFlexBoxTextBoxTwo {
  margin-top: 17px;
}

.contentTwoBigBoxFlexBoxTextBoxOneLogoBox {
  width: 45px;
  height: 100%;
  text-align: center;
}

.contentTwoBigBoxFlexBoxTextBoxOneLogoBox svg {
  margin-top: 5px;
  transition: 1.5s;
}

.contentTwoBigBoxFlexBoxTextBoxOneTxt {
  margin-left: 15px;
}

.contentTwoBigBoxFlexBoxTextBoxOneTxtOne {
  color: white;
  font-weight: 100;
  font-size: 22px;
}

.contentTwoBigBoxFlexBoxTextBoxOneTxtTwo {
  margin-top: 10px;
  color: rgb(226, 226, 226);
}

.contentTwoBigBoxFlexBoxTextBoxOne:hover
  .contentTwoBigBoxFlexBoxTextBoxOneLogoBox
  svg {
  transform: rotateY(360deg);
}

/* Content Two End */

/* content Three */

.contentThree {
  width: 100%;
  background-color: #24c1dd;
  padding: 125px 50px;
}

.contentThreeTxtBox {
  width: 95%;
  text-align: center;
  color: white;
  opacity: 0;
  transition: 1s;
}

.contentThreeTxtBox span {
  font-size: 20px;
}

.contentThreeTxtBox p {
  font-size: 3.3em;
  margin-top: 20px;
}

.contentThreeBigBox {
  width: 95%;
  margin-top: 30px;
  text-align: center;
}

.contentThreeSmallSmallBox {
  display: inline-block;
  width: 150px;
  height: 120px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-left: 70px;
  margin-top: 40px;
  transition: 1s;
  opacity: 0;
}

.contentThreeSmallSmallBoxNum {
  font-size: 2em;
  margin-top: 10px;
}

.contentThreeSmallSmallBoxTxt {
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.1em;
}

.contentThreeSmallSmallBoxIcon {
  transition: 0.5s;
}

.contentThreeSmallSmallBox:hover .contentThreeSmallSmallBoxIcon {
  transform: translateY(-20px);
}

/* content Three End */

/* content Four */

.contentFour {
  background-color: black;
  padding: 100px 0;
}

.contentFourTitleBox {
  width: 57%;
  text-align: center;
  color: white;
  margin: auto;
}

.contentFourTitleBoxTitle {
  font-size: 3em;
}

.contentFourTitleBoxTxt {
  margin-top: 30px;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  background-color: black;
  margin-top: 70px;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}

.contentFourSwiperSmallBoxSmall {
  width: 100%;
  height: 100%;
  background-color: black;
}

.contentFourSwiperSmallBoxSmallImg {
  width: 100%;
  height: 220px;
  background-color: aqua;
  border-radius: 15px;
  transform: translateY(1px);
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
}

.contentFourSwiperSmallBoxSmallTxt {
  width: 95%;
  height: 200px;
  margin: auto;
  background-color: black;
  border-radius: 10px;
  transform: translateY(-50px);
  color: white;
  text-align: center;
  padding: 0 10px;
}

.contentFourSwiperSmallBoxSmallTxt p:nth-child(1) {
  transform: translateY(15px);
  font-size: 1.5em;
}

.contentFourSwiperSmallBoxSmallTxt p:nth-child(2) {
  transform: translateY(30px);
  font-size: 0.9;
}
.contentFourSwiperSmallBoxSmallTxt:hover p:nth-child(1) {
  color: #24c1dd;
}

.swiper-pagination span {
  background-color: #24c1dd;
}

.contentFourSwiperSmallBoxSmallImg img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: 0.7s;
}

.contentFourSwiperSmallBoxSmallImg:hover img {
  transform: scale(1.2);
}

.contentFourTwoBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.contentFourTwoBlockOne,
.contentFourTwoBlockTwo {
  width: 49%;
}

.contentFourTwoBlockOne {
  padding: 0 40px;
}

.contentFourTwoBlockOne p:nth-child(1) {
  color: #24c1dd;
  font-weight: bold;
  font-size: 1.3em;
}

.contentFourTwoBlockOne p:nth-child(2) {
  color: white;
  font-size: 2.5em;
  margin-top: 20px;
}

.contentFourTwoBlockOne p:nth-child(3) {
  color: white;
  margin-top: 20px;
}

.contentFourTwoBlockTwo {
  padding: 0 10px;
  height: 450px;
  overflow: hidden;
}

.contentFourTwoBlockTwo img {
  width: 100%;
  height: 100%;
}

.contentFourTwoBlockTwo::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 1;
  background-color: black;
  opacity: 0.9;
  transition: 1.3s;
}

.contentFourTwoBlockTwo:hover::before {
  width: 50%;
  height: 450px;
  opacity: 0;
}

.contentFourTwoBlockOneTop {
  height: 300px;
  margin-top: 20px;
}

.contentFourTwoBlockOneTopOne {
  margin-top: 50px;
}

.contentFourTwoBlockOneTopOneTxt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.3em;
}

.contentFourTwoBlockOneTopOneTop {
  width: 100%;
  margin-top: 10px;
  height: 10px;
  background-color: white;
  border-radius: 5px;
}

.realAnimOne {
  animation-name: realAnimOne;
  background-color: #24c1dd;
}

.realAnimTwo {
  animation-name: realAnimTwo;
  background-color: #f1c30f;
}

.realAnimThree {
  animation-name: realAnimThree;
  background-color: #f1c30f;
}

.realAnimFour {
  animation-name: realAnimFour;
  background-color: #84b813;
}

.contentFourTwoBlockOneTopOneTopRealOne {
  width: 0;
  height: 100%;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  border-radius: 5px;
  animation-iteration-count: 0;
}

@keyframes realAnimOne {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

@keyframes realAnimTwo {
  0% {
    width: 0%;
  }
  100% {
    width: 88%;
  }
}

@keyframes realAnimThree {
  0% {
    width: 0%;
  }
  100% {
    width: 83%;
  }
}

@keyframes realAnimFour {
  0% {
    width: 0%;
  }
  100% {
    width: 91%;
  }
}

.contentFourThreeBlock {
  width: 100%;
  margin-top: 50px;
  padding: 0 7%;
}

.contentFourThreeBlockTitle {
  width: 40%;
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 2.2em;
  padding: 10px 0;
  position: relative;
  top: -100px;
}

.contentFourThreeBlockTitle p {
  font-size: 0.5em;
  margin-top: 10px;
}

.contentFourThreeBlockOneSmall {
  width: 43%;
  height: 200px;
  display: inline-block;
  position: relative;
}

.smallBoxFourOne {
  left: 170px;
}

.smallBoxFourTwo {
  top: -310px;
  left: 10px;
}

.smallBoxFourThree {
  top: 340px;
  left: 150px;
}

.smallBoxFourFour {
  top: -270px;
}

.contentFourThreeBlockOneSmallImg {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.contentFourThreeBlockOneSmallImg img:hover {
  transform: scale(1.3);
}

.contentFourThreeBlockOneSmallImg img {
  width: 100%;
  height: auto;
  transition: 0.3s;
}

.contentFourThreeBlockOneSmallTitle div {
  margin-top: 10px;
  font-size: 1.3em;
}

.contentFourThreeBlockOneSmallTitle div:nth-child(1) {
  font-size: 1.4em;
  color: rgb(0, 89, 255);
}

.contentFourThreeBlockOneSmallTitle div:nth-child(1):hover {
  cursor: pointer;
  color: rgb(48, 48, 48);
}

.contentFourThreeBlockOneSmallTitle div:nth-child(2) {
  font-size: 1.3em;
  color: #f1c30f;
}

/* content Four End */

/* content Five */

.contentFive {
  width: 100%;
}

.contentFiveImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(img/parallax5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  visibility: inherit;
  background-attachment: fixed;
  filter: brightness(100%);
}

.contentFiveBigBox {
  width: 100%;
}

.contentFiveBigBoxTitle {
  width: 100%;
  text-align: center;
  padding: 40px;
}

.contentFiveBigBoxTitle p:nth-child(1) {
  color: #24c1dd;
  font-weight: bold;
  font-size: 1.3em;
}

.contentFiveBigBoxTitle p:nth-child(2) {
  color: white;
  font-size: 2.5em;
  margin-top: 20px;
}

.contentFiveBigBoxTitle p:nth-child(3) {
  color: white;
  margin-top: 20px;
}

.contentFiveBigBoxInputBox {
  width: 100%;
  margin-top: 50px;
}

/* content Five End */
